apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld-deployment
  namespace: argocd
  labels:
    app: helloworld
spec:
  replicas: 2
  selector:
    matchLabels:
      app: helloworld
  template:
    metadata:
      labels:
        app: helloworld
    spec:
      containers:
        - name: helloworld
          image: 898774460249.dkr.ecr.ap-south-1.amazonaws.com/demo-repo:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
      imagePullSecrets:
        - name: ecr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: helloworld-service
  namespace: argocd
spec:
  selector:
    app: helloworld
  type: NodePort
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080
